@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

.fake-nav {
  display: flex;
  font-family: "VT323", monospace;
  font-size: 1.2rem;

  .fake-nav-items {
    display: flex;

    .fake-nav-item {
      padding-right: 0.9em;
      color: hsl(336, 9%, 31%);

      .underline {
        text-decoration: underline;
      }
      &:hover {
        cursor: pointer;
        color: hsl(336, 9%, 51%);
      }
    }

    .fake-nav-item:first-child {
      padding-left: 0.8em;
    }
  }
}
