@font-face {
  font-family: "alien-one";
  src: url("../public/fonts/Glipervelz-Origy\ FULL.ttf");
}

.container {
  min-height: 100vh;
  background-color: hsl(0, 0%, 89%);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);

  .main-window {
    border-left: 2px solid hsl(220, 2%, 30%);
    border-right: 2px solid hsl(220, 2%, 30%);
    border-bottom: 2px solid hsl(220, 2%, 30%);
    // font-family: "alien-one";
    grid-column: 2 / 6;
    grid-row: 2 / 6;
  }
}
