.container {
  background-color: hsl(330, 4%, 11%);
  display: flex;
  justify-content: flex-end;
  margin-inline: 10px;
  padding-block: 3px;
}

.option {
  background-color: hsl(0, 0%, 89%);
  color: hsl(320, 9%, 7%);
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2em;

  &:hover {
    cursor: pointer;
  }
}
